/* RESETS */

* { box-sizing: border-box; }

html, body {
	color: color(cadillacLightGray);
	font-family: "CadillacWeb", sans-serif!important;
    font-weight: normal;
    font-size: 15px;
	font-smoothing: antialiased;
    line-height: 20px;
	text-size-adjust: 100%;
	margin: 0;
	padding: 0;
	overflow-x:hidden;
}

input { min-height: 45px; }

img {
	width: 100%;
	height: 100%;
}

video { width: 100%; }

h1, h2, h3,
h4, h5, h6,
p {
	color: color(cadillacGray);
	font-family: "CadillacWeb", sans-serif!important;
    font-weight: normal;
}

h3 {
	text-transform: uppercase;
	margin-bottom: 1em!important;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
