/* FONTS */
@font-face {
  font-family: "CadillacWeb";
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CadillacWeb/SVG/CadillacSansWeb-Medium.svg") format("svg"), url("../fonts/CadillacWeb/TTF/CadillacSansWeb-Medium.ttf") format("truetype"), url("../fonts/CadillacWeb/WOFF/CadillacSansWeb-Medium.woff") format("woff"), url("../fonts/CadillacWeb/WOFF2/CadillacSansWeb-Medium.woff2") format("woff2");
  /* Modern Browsers */ }

@font-face {
  font-family: "CadillacWebBold";
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/CadillacWeb/SVG/CadillacSansWeb-Bold.svg") format("svg"), url("../fonts/CadillacWeb/TTF/CadillacSansWeb-Bold.ttf") format("truetype"), url("../fonts/CadillacWeb/WOFF/CadillacSansWeb-Bold.woff") format("woff"), url("../fonts/CadillacWeb/WOFF2/CadillacSansWeb-Bold.woff2") format("woff2");
  /* Modern Browsers */ }

@font-face {
  font-family: "CadillacWebExtraBold";
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-ExtraBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CadillacWeb/SVG/CadillacSansWeb-ExtraBold.svg") format("svg"), url("../fonts/CadillacWeb/TTF/CadillacSansWeb-ExtraBold.ttf") format("truetype"), url("../fonts/CadillacWeb/WOFF/CadillacSansWeb-ExtraBold.woff") format("woff"), url("../fonts/CadillacWeb/WOFF2/CadillacSansWeb-ExtraBold.woff2") format("woff2");
  /* Modern Browsers */ }

@font-face {
  font-family: "CadillacWebSemiBold";
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-SemiBold.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/CadillacWeb/SVG/CadillacSansWeb-SemiBold.svg") format("svg"), url("../fonts/CadillacWeb/TTF/CadillacSansWeb-SemiBold.ttf") format("truetype"), url("../fonts/CadillacWeb/WOFF/CadillacSansWeb-SemiBold.woff") format("woff"), url("../fonts/CadillacWeb/WOFF2/CadillacSansWeb-SemiBold.woff2") format("woff2");
  /* Modern Browsers */ }

@font-face {
  font-family: "CadillacWebLight";
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-Light.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/CadillacWeb/SVG/CadillacSansWeb-Light.svg") format("svg"), url("../fonts/CadillacWeb/TTF/CadillacSansWeb-Light.ttf") format("truetype"), url("../fonts/CadillacWeb/WOFF/CadillacSansWeb-Light.woff") format("woff"), url("../fonts/CadillacWeb/WOFF2/CadillacSansWeb-Light.woff2") format("woff2");
  /* Modern Browsers */ }

@font-face {
  font-family: "CadillacWebThin";
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/CadillacWeb/EOT/CadillacSansWeb-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/CadillacWeb/SVG/CadillacSansWeb-Thin.svg") format("svg"), url("../fonts/CadillacWeb/TTF/CadillacSansWeb-Thin.ttf") format("truetype"), url("../fonts/CadillacWeb/WOFF/CadillacSansWeb-Thin.woff") format("woff"), url("../fonts/CadillacWeb/WOFF2/CadillacSansWeb-Thin.woff2") format("woff2");
  /* Modern Browsers */ }

/* BASE */
/* RESETS */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html, body {
  font-family: "CadillacWeb", sans-serif !important;
  font-weight: normal;
  font-size: 15px;
  font-smoothing: antialiased;
  line-height: 20px;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

body a {
  color: #000; }

body a:hover {
  color: #e5523e; }

input {
  min-height: 45px; }

img {
  width: 100%;
  height: 100%; }

video {
  width: 100%; }

h1, h2, h3,
h4, h5, h6,
p {
  font-family: "CadillacWeb", sans-serif !important;
  font-weight: normal; }

h3 {
  text-transform: uppercase;
  margin-bottom: 1em !important; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

section {
  padding: 4em;
  text-align: center; }

body button {
  background: #e5523e !important; }

/* HEADER */
header {
  border-bottom: 1px solid #ccc;
  padding: 0 2em;
  min-height: 100px;
  background: #fff;
  width: 100%;
  z-index: 10; }
  header.entry-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ccc;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  header nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    header nav #site-header {
      max-width: 200px;
      max-height: 150px; }
      header nav #site-header img {
        width: 100%;
        height: 100%; }
    header nav .toggler {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      width: 35px; }
      header nav .toggler i {
        background: #343a40;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        height: 3px;
        margin: 3px 0;
        width: 100%; }

#menu-mv {
  font-size: 20px; }
  #menu-mv li a {
    color: #000;
    text-transform: uppercase; }
  @media screen and (max-width: 768px) {
    #menu-mv {
      display: none; } }

#nav-tools {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 1em; }
  #nav-tools .nav-tool {
    margin: 0 0.5em;
    font-size: 2em; }

.mobile-menu {
  display: none; }
  @media screen and (max-width: 768px) {
    .mobile-menu {
      display: block; } }

#mobile-navigation {
  background: #ffffff;
  height: 100%;
  position: fixed;
  right: -300px;
  top: 0;
  width: 300px;
  z-index: 20;
  -webkit-box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0 7px 7px rgba(0, 0, 0, 0.2); }
  #mobile-navigation .menu-close {
    color: #000;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    opacity: .5;
    padding: 0.5em 1em 0;
    text-align: right;
    text-shadow: 0 1px 0 #fff; }
  #mobile-navigation .nav-menu {
    text-align: center; }
    #mobile-navigation .nav-menu ul li {
      border-bottom: 1px solid #eaeaea;
      padding: 2em 0;
      width: 100%; }
      #mobile-navigation .nav-menu ul li:first-child {
        display: none; }
      #mobile-navigation .nav-menu ul li:last-child {
        border-bottom: 0; }
      #mobile-navigation .nav-menu ul li a {
        color: #b3b3b3;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase; }

#logo-hero {
  z-index: 10; }

.featured-hero {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-position: top !important;
  background-repeat: no-repeat !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 650px;
  width: 100%; }
  .featured-hero .scroll-down {
    position: relative;
    top: 17em; }
    .featured-hero .scroll-down i {
      color: #fff;
      font-size: 50px; }

.feature-video {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(255, 51, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .feature-video video {
    mix-blend-mode: overlay;
    position: relative;
    top: 0;
    bottom: 50px;
    width: 100%; }
  .feature-video .featured-hero-title {
    position: absolute;
    top: 20em;
    width: 50%; }
    @media (max-width: 1199px) {
      .feature-video .featured-hero-title {
        max-width: 60%; } }
  .feature-video .scroll-down {
    position: relative;
    top: -7em; }
    @media (max-width: 1199px) {
      .feature-video .scroll-down {
        display: none; } }
    .feature-video .scroll-down i {
      color: #fff;
      font-size: 50px; }

/* TEMPLATE */
.touts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%; }
  @media (max-width: 1024px) {
    .touts {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .touts .tout {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5em;
    width: 100%; }
    .touts .tout:first-child ul {
      list-style: none; }
    .touts .tout .tout-container {
      line-height: 2em;
      max-width: 75%;
      height: 100%; }

.info-block {
  padding: 10em 0;
  text-align: center; }
  .info-block h4 {
    line-height: 2; }
  .info-block.gold-block .section-title {
    font-family: "CadillacWebLight", sans-serif !important;
    font-size: 30px;
    letter-spacing: 5px;
    line-height: 2; }

.tout-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 4em 0; }
  @media screen and (max-width: 768px) {
    .tout-block {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .tout-block .media {
    border: 10px solid rgba(17, 17, 17, 0.7);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 350px;
    width: 100%;
    margin: 2em;
    padding: 2em 1em;
    overflow: scroll; }

#image-background {
  position: relative; }
  #image-background .tout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%; }
    #image-background .tout .tout-background {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 50%;
              flex: 0 1 50%; }
  #image-background:after {
    background: #ff0000;
    width: 100%;
    height: 20em;
    content: "";
    left: 0px;
    position: absolute; }

.image-block {
  padding: 10em 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .image-block .image-container {
    width: 400px; }
    .image-block .image-container img {
      height: 100%;
      width: 100%; }

.image-tile {
  padding: 8em; }

.image-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .image-stack img:first-child {
    margin-bottom: 1em; }
  .image-stack img:last-child {
    margin-top: 1em; }

.split-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 1024px) {
    .split-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      .split-block div {
        margin-top: 1em;
        width: 100%;
        max-width: 100%; } }

.options-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media (max-width: 1024px) {
    .options-block {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .options-block .options {
    width: 100%; }
    .options-block .options .option-title {
      color: #fff;
      padding: 6em 0;
      text-align: center;
      text-transform: uppercase; }
      .options-block .options .option-title h1 {
        font-family: "CadillacWebLight", sans-serif !important; }
    .options-block .options .option-body {
      padding: 4em 0;
      width: 70%;
      margin: 0 auto; }
      .options-block .options .option-body p {
        font-size: 18px;
        line-height: 2.3; }

.featured-trend {
  margin: 2em 0; }

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8em 0; }

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  max-height: 500px;
  width: 100%; }
  .grid .grid-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2em;
    height: 500px; }
    .grid .grid-section .grid-section-stack {
      background: #fe8800;
      background-size: cover !important;
      background-position: 50% 15% !important;
      height: 400px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      width: 500px;
      margin: 2em 0; }

#collections {
  background: #e5523e; }
  #collections .grid-section-stack {
    background-blend-mode: hard-light; }

#newsletter {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 500px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%; }
  #newsletter div.wpforms-container-full .wpforms-form input.wpforms-field-medium,
  #newsletter div.wpforms-container-full .wpforms-form select.wpforms-field-medium,
  #newsletter div.wpforms-container-full .wpforms-form .wpforms-field-row.wpforms-field-medium {
    max-width: 100% !important; }
  #newsletter div.wpforms-container-full .wpforms-form button[type=submit] {
    background: red;
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
    width: 100%; }
  #newsletter div.wpforms-container-full .wpforms-form .wpforms-field-sublabel {
    display: none !important; }

#blog {
  background: #f2f2f2;
  padding: 4em; }

#genders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  #genders .gender {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #ccc;
    background-size: cover;
    background-position: center;
    background-color: #ff0000;
    background-blend-mode: multiply;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 5vh;
    height: 50vw;
    width: 50vw;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2em 0;
    text-transform: uppercase;
    text-shadow: 0 0 10px #000;
    -webkit-transition: all 2s ease-out;
    transition: all 2s ease-out; }
    #genders .gender:hover {
      background-color: transparent; }

body .woocommerce-result-count,
body .woocommerce-ordering {
  display: none; }

.woocommerce .wc-stripe-payment-request-wrapper button {
  background: #ff0000 !important; }

.woocommerce input {
  min-height: 45px;
  text-indent: 1em; }
  .woocommerce input#submit, .woocommerce input.button, .woocommerce input.alt {
    background: #ff0000 !important; }

.woocommerce ul.products {
  margin: 3em 0; }
  .woocommerce ul.products li.product .price {
    color: #e5523e; }

.woocommerce .product .price {
  color: #e5523e !important; }

.woocommerce #customer_details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%; }
  .woocommerce #customer_details div {
    float: none;
    width: 100%;
    max-width: 100%; }
    .woocommerce #customer_details div span.woocommerce-input-wrapper {
      width: 100%; }

.woocommerce #order_review .form-row {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

/* Blog */
.blog-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .blog-stack .blog-post {
    background: #fff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 1px 2px 0 rgba(53, 53, 53, 0.1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(53, 53, 53, 0.1);
    -moz-box-shadow: 0 1px 2px 0 rgba(53, 53, 53, 0.1);
    -ms-box-shadow: 0 1px 2px 0 rgba(53, 53, 53, 0.1);
    margin: 0 2em 0 0; }
    .blog-stack .blog-post:last-child {
      margin: 0; }
    .blog-stack .blog-post .blog-image {
      background-size: cover;
      height: 250px; }
    .blog-stack .blog-post .blog-section {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 2em; }
      .blog-stack .blog-post .blog-section .blog-image {
        width: 150px;
        min-width: 150px; }
        .blog-stack .blog-post .blog-section .blog-image img {
          border-radius: 50%; }

.blog-list .blog-post {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .blog-list .blog-post .blog-image {
    background-size: cover !important;
    width: 300px;
    height: 120px;
    /* border-radius: 50%; */
    margin: 0 2em 0 0; }

/* FOOTER */
footer {
  background: #353535;
  color: #9a9a9a;
  padding: 3em 0; }
  footer .footer-section {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    footer .footer-section .footer-logo {
      margin: 5em 0; }
    footer .footer-section p {
      text-align: center; }
