body .woocommerce-result-count,
body .woocommerce-ordering { display: none; }

.woocommerce {
	.wc-stripe-payment-request-wrapper {
		button { background: #ff0000!important; }
	}
	input {
		min-height: 45px;
		text-indent: 1em;
		&#submit, &.button, &.alt { background: #ff0000!important; }
	}
	ul.products {
		margin: 3em 0;
		li.product {
			.woocommerce-loop-product__title { font-size: 1.25em; }
			.price { color: #e5523e; font-size: 1.25em; }
		}
	}
	.product {
		.price { color: #e5523e!important; font-size: 1.25em; }
		.product_meta { display: none!important; }
	}
  #customer_details {
    display: flex;
    flex-direction: column;
    width: 100%;
    div {
      float: none;
      width: 100%;
      max-width: 100%;
      span.woocommerce-input-wrapper { width: 100%; }
    }
  }
	#order_review {
		.form-row { flex-direction: column; }
	}
}

.product-subtotal, .woocommerce-info::before { color: #e5523e; }
.checkout-button { background: #e5523e!important; }
.woocommerce-info { border-top-color: #e5523e; }
.woocommerce .cart-collaterals .cart_totals,
.woocommerce-page .cart-collaterals .cart_totals {
	margin: 2em 0;
	float: none;
	width: 100%;
}
.woocommerce table.cart td.actions .input-text { width: 166px; }
.woocommerce-billing-fields {
	background: #f5f5f5;
  border: 1px solid #e2e2e2;
	padding: 1em;
	margin: 1em 0 2em;
}
.woocommerce button.button { color: #fff!important; }
.cart-discount {
	.amount { color: #e5523e; }
}
.order-total {
	.amount { color: #8fae1b; }
}

#shop {
	.row { width: 100%!important; }
}
