/* TEMPLATE */

.touts {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	@media(max-width: 1024px) {
		flex-direction: column;
	}
	.tout {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 5em;
		width: 100%;
		&:first-child {
			@include setBackground('cadillacDarkGold');
			ul { list-style: none; }
		}
		@include setBackground('cadillacLightGold');
		.tout-container {
			line-height: 2em;
			max-width: 75%;
			height: 100%;
		}
	}
}

.info-block {
	background: color(cadillacWhite);
	padding: 10em 0;
	text-align: center;
	color: color(cadillacGray);
	h4 { line-height: 2; }
	&.light-gray-block { background: color(cadillacLightGray); }
	&.gold-block {
		background: color(cadillacGold);
		.section-title {
			color: color(cadillacWhite);
			font-family: "CadillacWebLight", sans-serif!important;
			font-size: 30px;
			letter-spacing: 5px;
			line-height: 2;
		}
	}
}

.tout-block {
	background: color(bgLightGray);
	display: flex;
	justify-content: space-around;
	.media {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2em;
	}
}

.image-block {
	padding: 10em 0;
	width: 100%;
	display: flex;
	justify-content: center;
	.image-container {
		width: 400px;
		img {
			height: 100%;
			width: 100%;
		}
	}
}

.image-tile { padding: 8em; }
.image-stack {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	img {
		&:first-child { margin-bottom: 1em; }
		&:last-child { margin-top: 1em; }
	}
}

.split-block {
	display: flex;
	@media(max-width: 1024px) {
		flex-direction: column;
		div {
			margin-top: 1em;
			width: 100%;
			max-width: 100%;
		}
	}
}

.options-block {
	display: flex;
	flex-direction: row;
	@media(max-width: 1024px) { flex-direction: column; }
	.options {
		width: 100%;
		&:nth-child(even) > .option-title { background: color(cadillacLightGold); }
		.option-title {
			background: color(cadillacDarkGold);
			color: #fff;
			padding: 6em 0;
		   text-align: center;
		   text-transform: uppercase;
		   h1 { font-family: "CadillacWebLight", sans-serif!important; }
		}
		.option-body {
			padding: 4em 0;
			width: 70%;
			margin: 0 auto;
			p {
				font-size: 18px;
				line-height: 2.3;
			}
		}
	}
}

.featured-trend { margin: 2em 0; }

.post-container {
	display: flex;
	justify-content: center;
	margin: 8em 0;
}
